// About
.about-info {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "bioimage bio bio"
    "bioimage info-1 info-2"
    "bioimage info-3 info-4"
    "bioimage info-5 info-6"
    "bioimage info-7 info-8";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    margin: auto;
    grid-area: bioimage;
    width: 350px;
    height: auto;
    // border-radius: 50%;
    // border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.3rem;
    margin: auto;
    font-family: "FuturaPTlight", sans-serif;
    letter-spacing: 1px;

    p.text-primary {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0;
      margin: 0px;
      font-family: "FuturaPTDemi", sans-serif;
    }

    p.text-secondary {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0 0 20px 0;
      letter-spacing: 1px;
      font-family: "FuturaPTMedium", sans-serif;
    }
  }

  .profile-info {
    letter-spacing: 0.5px;
    font-size: 1.2rem;

    i.profile-icon {
      font-size: 3rem;
      color: $secondary-color;
      margin: 0px 20px 0px 0px;
    }
  }

  // Info Grid
  .info-1 {
    grid-area: info-1;
  }

  .info-2 {
    grid-area: info-2;
  }

  .info-3 {
    grid-area: info-3;
  }

  .info-4 {
    grid-area: info-4;
  }

  .info-5 {
    grid-area: info-5;
  }

  .info-6 {
    grid-area: info-6;
  }

  .info-7 {
    grid-area: info-7;
  }

  .info-8 {
    grid-area: info-8;
  }
}

.core {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "core-1 core-2 core-3 core-4 core-5 core-6";
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  padding-top: 4rem;

  img {
    width: 65px;
  }

  p {
    text-align: center;
    text-transform: uppercase;
    font-family: "FuturaPTDemi", sans-serif;
    letter-spacing: 1px;
  }

  // Core Grid{
  .core-1 {
    grid-area: core-1;
  }

  .core-2 {
    grid-area: core-2;
  }

  .core-3 {
    grid-area: core-3;
  }

  .core-4 {
    grid-area: core-4;
  }

  .core-5 {
    grid-area: core-5;
  }

  .core-6 {
    grid-area: core-6;
  }
}

.skills {
  margin: 4rem 0 4rem 0;

  h1 {
    font-size: 3rem;
  }

  h2 {
    padding-bottom: 3rem;
    font-size: 1.6rem;
    text-align: center;
    font-family: "FuturaPTBook", sans-serif;
    letter-spacing: 1px;
  }
}

.skills-bar {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  grid-template-areas:
    "sub-title sub-title"
    "skill-1 skill-2"
    "skill-3 skill-4";
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 3rem;

  .skill-box {
    box-sizing: border-box;
    width: 100%;
    // margin: 20px 0;

    p {
      color: #ffffff;
      text-transform: uppercase;
      margin: 0 0 10px;
      padding: 0;
      letter-spacing: 1px;
      font-size: 1rem;
      font-family: "FuturaPTDemi", sans-serif;

      &:nth-child(2) {
        float: right;
        position: relative;
        top: -30px;
      }
    }

    .skill {
      background: lighten($primary-color, 5);
      padding: 4px;
      box-sizing: border-box;
      border: 1px solid $secondary-color;
      border-radius: 5px;

      .skill-level {
        background: $secondary-color;
        width: 100%;
        height: 10px;
        border-radius: 3px;
      }
    }

    // Skills Grid
    .skill-1 {
      grid-area: skill-1;
    }

    .skill-2 {
      grid-area: skill-2;
    }

    .skill-3 {
      grid-area: skill-3;
    }

    .skill-4 {
      grid-area: skill-4;
    }
  }
}

.skills-fontawesome {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "font-1 font-2 font-3 font-4 font-5 font-6";
  grid-template-columns: repeat(5, 1fr);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;

  .skill-font {
    text-align: center;
    font-size: 5rem;
    font-weight: 100;

    .bootstrap {
      font-size: 5.2rem;
      font-weight: 200;
      padding: 0;
      margin: 0;
      line-height: 1;
      font-family: none;
    }
  }

  // Skills Font Grid
  .font-1 {
    grid-area: font-1;
  }

  .font-2 {
    grid-area: font-2;
  }

  .font-3 {
    grid-area: font-3;
  }

  .font-4 {
    grid-area: font-4;
  }

  .font-5 {
    grid-area: font-5;
  }
}

.piechart-skill {
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "chart-1 chart-2 chart-3";
  grid-template-columns: repeat(3, 1fr);
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 2.2rem;

  .box-chart {
    .chart {
      width: 150px;
      height: 150px;
      margin: auto;
      text-align: center;
      position: relative;
      line-height: 9.5rem;
    }

    h2 {
      font-size: 1rem;
      text-transform: uppercase;
      padding-top: 0.5rem;
      font-family: "FuturaPTDemi", sans-serif;
    }

    canvas {
      width: 150px;
      height: 150px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.resume-button {
  text-align: center;
  grid-template-columns: 1fr;

  a {
    border: 3px #fff solid;
    background: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    font-family: "FuturaPTDemi", sans-serif;
    // border-radius: 8px;
    transition: 0.6s;
    overflow: hidden;
    padding: 15px 25px;
    margin: 10px;
  }

  .btn {
    text-decoration: none;
    color: #fff;

    &:hover {
      border: 3px $secondary-color solid;
      background: $secondary-color;
      color: #222;
      text-transform: uppercase;
      font-size: 1.5rem;
      letter-spacing: 2px;
      text-align: center;
      text-decoration: none;
    }
  }
}
